.starter-template {
  padding: 40px 15px;
  text-align: center;
  font-family:'Roboto',sans-serif;
}

a{
  display:inline-block;
  padding:0.35em 1.2em;
  border:0.1em solid black;
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-weight:300;
  color:black;
  text-align:center;
  transition: all 0.2s;
  font-size: large;
}

a:hover{
  color:#000000;
  background-color:#FFFFFF;
}